.contact-form__wrapper form {
    margin: 0 auto;
    width: 500px;
}
.contact-form__wrapper form .contact-form__form-inner {
    display: flex;
    flex-direction: column;
}
.contact-form__wrapper form .contact-form__form-inner .contact-form__form-element {
    display: flex;
    flex-direction: column;
    position: relative;
}
.contact-form__form-element label {
    font-weight: 500;
    margin: 1.5rem 0 0.1rem 0;
}
.contact-form__form-element p {
    font-size: small;
}
.contact-form__form-element input, .contact-form__form-element textarea {
    border: 2px solid #e6e8e9;
    padding: 0.5rem 1rem;
    outline: none;
}
.contact-form__form-element button {
    width: 100%;
}
.contact-form__form-element .contact-form__input-info {
    display: flex;
    justify-content: space-between;
}
.contact-form__letter-counter:only-child {
    margin-left: auto;
}
.contact-form__wrapper form button[type=submit] {
    width: 100%;
    padding: 0.75rem 0;
    background: #191b21;
    outline: 0;
}
.contact-form__wrapper form button[type=submit]:focus{
    outline: 1px solid #191b21;
}
.contact-form__wrapper form h6 {
    margin: 1.2rem 0;
    width: 100%;
    height: 100%;
}
.contact-form__form-element .contact-form__options {
    position: relative;
}
.contact-form__form-element .contact-form__options img {
    height: 8px;
    position: absolute;
    right: 1rem;
    top: 20px;
    opacity: 40%;
}
.contact-form__error {
    border: 2px solid #AD0B0B !important;
    background: rgba(173, 11, 11, 0.1) !important;
}
.contact-form__error-text{
    color: #AD0B0B;
    font-size: small;
}
.contact-form__letter-counter {
    font-size: small;
    order: 2;
    align-self: flex-end;
}

@media (max-width: 550px) {
    .contact-form__wrapper form {
        width: 90%;
    }
}

.contact-form__select-toggle {
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0;
    border: 2px solid #e6e8e9;
    outline: 0;
}
.contact-form__select-toggle:focus {
    outline: 1px solid #191b21;
}
.contact-form__select-label {
    padding: .5rem 1rem;
}
.contact-form__select-caret {
    margin-left: .8rem;
}
.contact-form__select-menu {
    position: absolute;
    z-index: 2;
    background: #f5f7f8;
    transition: opacity .2s;
    top: inherit;
    left: 0;
    right: 0;
    display: none;
}
.contact-form__select-options {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 20.6rem;
    overflow: auto;
}
.contact-form__select-item[aria-selected=true] {
    background: #e6e8e9;
}
.contact-form__select-item {
    width: 100%;
    border: none;
    padding: 1rem;
    transition: background .2s;
}
.contact-form__select-item:hover {
    background: #f1f2f0;
}
.contact-form__select-item:focus {
    outline: 1px solid #000;
    z-index: 2;
}
.contact-form__divider {
    width: 100%;
    height: 2px;
    background: #191B21;
    margin: 3rem 0 1rem 0;
}
.contact-form__radio-wrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
}
.contact-form__radio-wrapper label {
    margin: 0 !important;
    padding: 1rem 0;
}
.contact-form__radio-wrapper .contact-form__radio-container {
    position: relative;
    display: block;
    cursor: pointer;
    padding-left: 36px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.contact-form__radio-wrapper .contact-form__radio-container input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    cursor: pointer;
}
.contact-form__radio-wrapper .contact-form__radio-container input:focus ~ .contact-form__radio-checkmark {
    outline: 1px solid #191B21;
}
.contact-form__radio-wrapper .contact-form__radio-container input:checked ~ .contact-form__radio-checkmark:after {
    display: block;
    background: #191b21;
}
.contact-form__radio-wrapper .contact-form__radio-container input:checked ~ .contact-form__radio-text {
    font-weight: bold;
    text-decoration: underline;
}
.contact-form__radio-wrapper .contact-form__radio-container .contact-form__radio-checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #191b21;
    border-radius: 50%;
    transform: translateY(-50%);
}
.contact-form__radio-wrapper .contact-form__radio-container .contact-form__radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 3px;
    top: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.contact-form__radio-wrapper .contact-form__radio-container:hover input:not(:checked) ~ .contact-form__radio-text {
    font-weight: bold;
    text-decoration: underline;
}
.contact-form__attachment-wrapper {
    display: flex;
}
.contact-form__attachment-wrapper .contact-form__attachment-file-input {
    position: relative;
    margin: 0;
}
.contact-form__attachment-wrapper .contact-form__attachment-file-input span {
    display: block;
    cursor: pointer;
    border: 2px solid #191b21;
    padding: 0.5rem 2rem;
}
.contact-form__attachment-wrapper .contact-form__attachment-file-input .input-info {
    display: block;
    cursor: none;
    border: none;
    padding: 0;
    font-weight: normal;
    font-size: small;
    text-align: center;
}
.contact-form__attachment-wrapper .contact-form__attachment-info {
    margin-left: 1rem;
}
.contact-form__attachment-wrapper .contact-form__attachment-info div {
    display: flex;
    align-items: center;
}
.contact-form__attachment-wrapper .contact-form__attachment-info div button {
    width: 2rem;
    height: 2rem;
    border: none;
    background: none;
}
.contact-form__attachment-wrapper .contact-form__attachment-info div button img {
    width: 1rem;
    height: 1rem;
}
.contact-form__attachment-wrapper .contact-form__attachment-info div span {
    text-decoration: underline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 330px;
}
.contact-form__checkbox-wrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
}
.contact-form__checkbox-wrapper label {
    margin: 0 !important;
    padding: 1rem 0;
}
.contact-form__checkbox-wrapper .contact-form__checkbox-container {
    position: relative;
    display: block;
    cursor: pointer;
    padding-left: 36px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.contact-form__checkbox-wrapper .contact-form__checkbox-container input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
.contact-form__checkbox-wrapper .contact-form__checkbox-container .contact-form__checkbox-checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #191b21;
    transform: translateY(-50%);
}
.contact-form__checkbox-wrapper .contact-form__checkbox-container .contact-form__checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.contact-form__checkbox-wrapper .contact-form__checkbox-container input:focus ~ .contact-form__checkbox-checkmark {
    outline: 1px solid #191B21;
}
.contact-form__checkbox-wrapper .contact-form__checkbox-container input:checked ~ .contact-form__checkbox-checkmark:after {
    display: block;
    background: #191b21;
}
.contact-form__checkbox-wrapper .contact-form__checkbox-container input:checked ~ .contact-form__checkbox-text {
    text-decoration: underline;
    font-weight: bold;
}
.contact-form__checkbox-wrapper .contact-form__checkbox-container .contact-form__checkbox-checkmark:after {
    left: 3px;
    top: 3px;
    width: 10px;
    height: 10px;
}
.contact-form__checkbox-wrapper .contact-form__checkbox-container:hover input:not(:checked) ~ .contact-form__checkbox-text {
    text-decoration: underline;
    font-weight: bold;
}
.contact-form__checkbox-wrapper .contact-form__checkbox-container:hover input ~ .contact-form__checkbox-checkmark:after {
    display: block;
}
