.contact-form__wrapper form {
    margin: 0 auto;
    width: 500px;
}
.contact-form__wrapper form .contact-form__form-inner {
    display: flex;
    flex-direction: column;
}
.contact-form__wrapper form .contact-form__form-inner .contact-form__form-element {
    display: flex;
    flex-direction: column;
    position: relative;
}
.contact-form__form-element label {
    font-weight: 500;
    margin: 1.5rem 0 0.1rem 0;
}
.contact-form__form-element p {
    font-size: small;
}
.contact-form__form-element input, .contact-form__form-element textarea {
    border: 2px solid #e6e8e9;
    padding: 0.5rem 1rem;
    outline: none;
}
.contact-form__form-element button {
    width: 100%;
}
.contact-form__wrapper form button[type=submit] {
    width: 100%;
    padding: 0.75rem 0;
    background: #191b21;
    outline: 0;
}
.contact-form__wrapper form button[type=submit]:focus{
    outline: 1px solid #191b21;
}
.contact-form__wrapper form h6 {
    margin: 1.2rem 0;
    width: 100%;
    height: 100%;
}
.contact-form__form-element .contact-form__options {
    position: relative;
}
.contact-form__form-element .contact-form__options img {
    height: 8px;
    position: absolute;
    right: 1rem;
    top: 20px;
    opacity: 40%;
}

@media (max-width: 550px) {
    .contact-form__wrapper form {
        width: 90%;
    }
}

.dropdown__toggle {
    display: flex;
    align-items: center;
    background: transparent;
    padding: 0;
    border: 2px solid #e6e8e9;
    outline: 0;
}
.dropdown__toggle:focus {
    outline: 1px solid #191b21;
}
.dropdown__label {
    padding: .5rem 1rem;
}
.dropdown__caret {
    margin-left: .8rem;
}
.dropdown__menu {
    position: absolute;
    z-index: 2;
    background: #f5f7f8;
    transition: opacity .2s;
    top: inherit;
    left: 0;
    right: 0;
    display: none;
}
.dropdown__options {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 20.6rem;
    overflow: auto;
}
.dropdown__item[aria-selected=true] {
    background: #e6e8e9;
}
.dropdown__item {
    width: 100%;
    border: none;
    padding: 1rem;
    transition: background .2s;
}
.dropdown__item:hover {
    background: #f1f2f0;
}
.dropdown__item:focus {
    outline: 1px solid #000;
    z-index: 2;
}
.contact-form__divider {
    width: 100%;
    height: 2px;
    background: #191B21;
    margin: 3rem 0 1rem 0;
}
