.podcast__player-inner {
    background: #c6c7c4;
    padding: 1.5rem 1.5rem;
}
.podcast__player-inner h6 {
    font-size: 13px;
    margin: 0.2rem 0 0.5rem 0;
    letter-spacing: 0.24em;
    text-transform: uppercase;
}
.podcast__player-inner .podcast__player-container {
    position: relative;
    display: flex;
    justify-content: center;
}
.podcast__player-inner .podcast__player-container .podcast__player-cover {
    height: 140px;
    width: 140px;
}
.podcast__player-inner .podcast__player-container .podcast__player-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem;
}
.podcast__player-inner .podcast__player-container .podcast__player-controls h3 {
    font-weight: 500;
    margin-top: 0.5rem;
    font-size: 14px;
    font-style: italic;
    line-height: 30px;
}
.podcast__player-inner .podcast__player-container .podcast__player-controls p {
    font-size: 12px;
    margin-bottom: 1.5rem;
    line-height: 15px;
}
.podcast__player-inner .podcast__player-container .podcast__player-btn-container {
    position: relative;
    display: flex;
    flex-direction: row;
}
.podcast__player-inner .podcast__player-container .podcast__player-btn-container .podcast__player-btn {
    width: 18px;
    height: 18px;
    margin-right: 0.8rem;
    margin-top: 0.5rem;
}
.podcast__player-inner .podcast__player-container .podcast__player-btn-container .podcast__player-btn img {
    vertical-align: top;
    width: 100%;
    height: 100%;
}
.podcast__player-inner .podcast__player-container .podcast__player-btn-container .podcast__player-volume:hover ~ .podcast__volume-controls {
    display: flex;
}
.podcast__player-inner .podcast__player-container .podcast__player-btn-container .podcast__volume-controls {
    display: none;
    position: absolute;
    right: 0;
    width: 0;
    width: 210px;
    height: 30px;
    background: #c6c7c4;
    justify-content: center;
    flex-direction: column;
}
.podcast__player-inner .podcast__player-container .podcast__player-btn-container .podcast__volume-controls input {
    -webkit-appearance: none;
    -moz-apperance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    outline: none;
    background: #191b21;
}
.podcast__player-inner .podcast__player-container .podcast__player-btn-container .podcast__volume-controls input::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-apperance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #191b21;
    cursor: pointer;
}
.podcast__player-inner .podcast__player-container .podcast__player-btn-container .podcast__volume-controls input::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #191b21;
    cursor: pointer;
}
.podcast__player-inner .podcast__player-container .podcast__player-btn-container .podcast__progress-container canvas {
    width: 200px;
    height: 25px;
    display: block;
}
.podcast__player-inner .podcast__player-container .podcast__player-btn-container .podcast__progress-container p {
    margin: 0.2rem 0;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.15em;
}
.podcast__wrapper-inner {
    background: #f5f7f8;
    padding-bottom: 4rem;
}
.podcast__wrapper-inner h1 {
    text-align: center;
    font-size: 42px;
    padding: 4rem 0 6rem 0;
    font-weight: 500;
}
.podcast__wrapper-inner .podcast__element {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.podcast__wrapper-inner .podcast__element .podcast__inner-container {
    width: 480px;
    margin: 1rem 4rem;
}
.podcast__wrapper-inner .podcast__element .podcast__inner-container .podcast__article h4 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 26px;
}
.podcast__wrapper-inner .podcast__element .podcast__inner-container .podcast__article p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30.5px;
}
.podcast__wrapper-inner .podcast__element .podcast__inner-container .podcast__article a {
    font-size: 18px;
    line-height: 32px;
    text-decoration: none;
}
.podcast__wrapper-inner .podcast__element .podcast__inner-container .podcast__article a img {
    height: 17px;
    margin-right: 1.5rem;
    transition: all 0.2s ease;
}
.podcast__wrapper-inner .podcast__element .podcast__inner-container .podcast__article a:hover img {
    transform: translateX(10%);
}
.podcast__wrapper-inner .podcast__element .podcast__inner-container .podcast__article-img img {
    width: 100%;
}
.podcast__wrapper-inner .podcast__element .podcast__inner-container h4 {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    letter-spacing: 0.24em;
}
.podcast__wrapper-inner .podcast__element .podcast__inner-container .podcast__player-header {
    margin-left: 1.5rem;
}
.podcast__links {
    display: flex;
    justify-content: stretch;
    height: calc(100% - 3.375rem);
    flex-direction: column;
}
.podcast__links a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid gray;
    text-decoration: none;
}
.podcast__links a img {
    min-width: 40px;
    max-width: 40px;
}
.podcast__links a img:last-child {
    min-width: 25px;
    max-width: 25px;
    transition: all 0.2s ease;
}
.podcast__links a div {
    margin-left: 1rem;
    flex-basis: 100%;
}
.podcast__links a div * {
    margin: 0;
}
.podcast__links a div h6 {
    font-size: 22px;
    font-weight: 500;
    line-height: 169.2%;
}
.podcast__links a div p {
    font-size: 16px;
    line-height: 169.2%;
}
.podcast__links a:hover {
    text-decoration: none;
}
.podcast__links a:hover div h6 {
    text-decoration: underline;
}
.podcast__links a:hover img:last-child {
    transform: translateX(10%);
}
