.stepper__inner-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.stepper__inner-wrapper::-webkit-scrollbar {
    display: none;
}
.stepper__items {
    left: 0;
    transition: left 0.5s ease-in-out;
    -webkit-transition: left 0.5s ease-in-out;
    -o-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    display: flex;
    padding: 5em calc(225px / 2) 3em calc(225px / 2);
    position: relative;
    align-items: center;
}
.stepper__dot {
    min-width: 1em;
    width: 1em;
    height: 1em;
    background-color: #ffffff;
    border: 2px solid #191b21;
    border-radius: 100%;
}
.stepper__dot-active {
    background-color: #191b21;
}
.stepper__dot-label {
    font-weight: 600;
    position: relative;
    white-space: nowrap;
    overflow-x: hidden;
    font-size: 1rem;
    width: 225px;
    text-overflow: ellipsis;
    top: -50px;
    left: calc(-225px / 2);
    text-align: center;
}
.stepper__line {
    width: 100%;
    min-width: 225px;
    height: 2px;
    background-color: #191b21;
    overflow: hidden;
    display: block;
}
.stepper__line-dash::after {
    display: block;
    content: '';
    width: 100%;
    height: 50px;
    background: linear-gradient(to right, #191b21 66%, #ffffff 0%);
    background: -ms-linear-gradient(to right, #191b21 66%, #ffffff 0%);
    background: -webkit-linear-gradient(to right, #191b21 66%, #ffffff 0%);
    background: -o-linear-gradient(to right, #191b21 66%, #ffffff 0%);
    background-position: top;
    background-size: 1.25rem;
    background-repeat: repeat-x;
}
.stepper__arrow {
    display: flex;
    padding: 2rem 0 0 0;
    justify-content: flex-end;
}
.stepper__arrow-left svg, .stepper__arrow-right svg {
    width: 24px;
    height: 16px;
}
.stepper__arrow-left {
    transform: scale(-1, 1);
}
.stepper__arrow-left, .stepper__arrow-right {
    border: none;
    background: transparent;
    margin-left: 1em;
    padding: 0;
}
.stepper__progress-bar {
    width: 10rem;
    margin: 0 auto 2rem auto;
    height: 2px;
    background: rgba(25,27,33,.4);
    display: flex;
    align-items: center;
}
.stepper__progress-bar-inner {
    height: 4px;
    background: #191b21;
    width: 0;
    transition: width 0.5s ease-in-out;
    -webkit-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
}
.stepper__wrapper {
    padding: 5rem 0;
}
@media (max-width: 991px) {
    .stepper__wrapper {
        padding: 3rem 0;
    }
}
