.stepper__wrapper .stepper__progress-bar {
    width: 10rem;
    margin: 0 auto 2rem auto;
    height: 2px;
    background: rgba(25, 27, 33, .4);
    display: flex;
    align-items: center;
}
.stepper__wrapper .stepper__casket-wrapper {
    overflow: hidden;
}
.stepper__wrapper .stepper__progress-bar-inner {
    height: 4px;
    background: #191b21;
    width: 0;
}
.stepper__wrapper .stepper__arrow {
    display: flex;
    padding: 2rem 0 0 0;
    justify-content: flex-end;
}
.stepper__wrapper .stepper__arrow-left img, .stepper__wrapper .stepper__arrow-right img {
    width: 24px;
    height: 16px;
}
.stepper__wrapper .stepper__arrow-left {
    transform: scale(-1, 1);
}
.stepper__wrapper .stepper__arrow-left, .stepper__wrapper .stepper__arrow-right {
    border: none;
    background: transparent;
    margin-left: 1em;
    padding: 0;
}
.stepper__wrapper .stepper__content {
    width: 100%;
    height: 100%;
    display: table;
}
.stepper__wrapper .stepper__content .stepper__lines {
    display: flex;
    width: 100%;
    overflow: hidden;
}
.stepper__wrapper .stepper__content .stepper__lines .stepper__line {
    position: relative;
    transform: translateX(50%);
    width: 100%;
    min-width: 225px;
    height: 2px;
    background-color: #191b21;
    display: block;
    margin: 6rem 0 3rem 0;
}
.stepper__wrapper .stepper__content .stepper__lines .stepper__line .stepper__point {
    position: absolute;
    z-index: 1;
    width: 100%;
    transform: translate(-50%, calc(-4rem + 1px));
    height: 8rem;
    text-align: center;
    transition: 0.2s;
    line-break: anywhere;
}
.stepper__wrapper .stepper__content .stepper__lines .stepper__line .stepper__point div {
    position: relative;
    max-width: 225px;
    margin: 0 auto;
    will-change: transform;
    transition: transform 0.1s ease-in-out;
}
.stepper__wrapper .stepper__content .stepper__lines .stepper__line .stepper__point:before {
    content: '';
    position: absolute;
    left: calc(50%);
    top: calc(50%);
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: white;
    border: 2px solid #191b21;
    transition: 0.1s ease-in-out;
}
.stepper__wrapper .stepper__content .stepper__lines .stepper__line .stepper__point:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 100%;
    background-color: #191b21;
    transition: 0.1s ease-in-out;
}
.stepper__wrapper .stepper__content .stepper__lines .stepper__line .stepper__point-active div {
    font-weight: 500;
}
.stepper__wrapper .stepper__content .stepper__lines .stepper__line .stepper__point-active:before {
    background-color: #191b21;
}
.stepper__wrapper .stepper__content .stepper__lines .stepper__line-last {
    height: 0;
}
.stepper__wrapper .stepper__content .stepper__lines .stepper__link .stepper__point {
    cursor: pointer;
}
.stepper__wrapper .stepper__content .stepper__lines .stepper__link .stepper__point div {
    text-decoration: underline;
}
.stepper__wrapper .stepper__content .stepper__lines .stepper__link .stepper__point:hover:before {
    width: 1.5rem;
    height: 1.5rem;
}
.stepper__wrapper .stepper__content .stepper__lines .stepper__link .stepper__point:hover:after {
    width: 0.7rem;
    height: 0.7rem;
}
.stepper__wrapper .stepper__content .stepper__lines .stepper__link .stepper__point:hover div {
    transform: translateY(-0.5rem);
    text-decoration: none;
}
.stepper__wrapper .stepper__content .stepper__lines .stepper__line-dashed::after {
    display: block;
    content: '';
    width: 100%;
    height: 30px;
    position: relative;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 66%, #fff 0%);
    background: -ms-linear-gradient(to right, rgba(0, 0, 0, 0) 66%, #fff 0%);
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0) 66%, #fff 0%);
    background: -o-linear-gradient(to right, rgba(0, 0, 0, 0) 66%, #fff 0%);
    background-position: top;
    background-size: 1.25rem;
    background-repeat: repeat-x;
}