.stories__wrapper .stories__list-two-tone-grey-light {
    background: linear-gradient(180deg, transparent 50%, #f5f7f8 50%);
}
.stories__wrapper .stories__list-two-tone-green {
    background: linear-gradient(180deg, transparent 50%, #c6c7c4 50%);
}
.stories__wrapper .stories__list-two-tone-green-light {
    background: linear-gradient(180deg, transparent 50%, #f1f2f0 50%);
}
.stories__wrapper .stories__list-two-tone-blue-light {
    background: linear-gradient(180deg, transparent 50%, #e2e6e9 50%);
}
.stories__wrapper .stories__list-two-tone-beige-light {
    background: linear-gradient(180deg, transparent 50%, #ede9e8 50%);
}
.stories__wrapper .stories__list-two-tone-beige {
    background: linear-gradient(180deg, transparent 50%, #e3ddd8 50%);
}
.stories__wrapper .story__fs-wrapper {
    pointer-events: none;
    width: 100%;
    height: 100%;
}
.stories__wrapper .story__fs-qbrick video {
    pointer-events: none;
    object-fit: contain !important;
    z-index: 0;
}
.stories__wrapper .story__fs-wrapper .story__header {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.stories__wrapper .story__fs-wrapper .story__header {
    padding-top: 0.25rem;
}
.stories__wrapper .story__progress {
    margin: 6px 3px 0 3px;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    overflow: hidden;
}
.stories__wrapper .story__progress-bar {
    background: rgba(255, 255, 255, 1);
    transition: width 125ms linear;
    width: 100%;
    height: 100%;
}
.stories__wrapper .story__progress-wrapper {
    display: flex;
    padding: 0 calc(.5rem - 3px);
}
.stories__wrapper .stories__wrapper-inner {
    text-align: center;
    padding: 5rem 0;
    position: relative;
}
.stories__wrapper .stories__wrapper-inner h2 {
    font-size: 2rem;
    margin-bottom: 6rem;
    font-weight: 500;
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
}
.stories__wrapper .stories__list {
    display: flex;
    justify-content: center;
}
.stories__wrapper .stories__title {
    width: 252px;
    overflow-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 1.5rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.4;
}
.stories__wrapper .stories__title-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}
.stories__wrapper .story__wrapper {
    width: min-content;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #191b21;
    margin: 0 1.5rem;
}
.stories__wrapper .story__wrapper .gobrain-play {
    display: none;
}
.stories__wrapper .story__wrapper-seen .story__thumbnail {
    background-color: rgba(0, 0, 0, 0.4);
}
.stories__wrapper .story__header {
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(25,27,33,0.8) 100%);
    position: absolute;
    z-index: 1;
    width: 100%;
}
.stories__wrapper .story__user-title {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    font-weight: 400;
    font-size: 0.75rem;
    margin: 0;
    align-self: center;
}
.stories__wrapper .story__user {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
}
.stories__wrapper .story__user-close {
    border: none;
    background: transparent;
    width: 25px;
    height: 25px;
    align-self: center;
    padding: 0;
    z-index: 10;
    margin: 0;
}
.stories__wrapper .story__user-wrapper {
    display: flex;
}
.stories__wrapper .story__user-pic {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    align-self: center;
    margin-right: 0.5rem;
}
.stories__wrapper .story__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 4rem;
    height: 4rem;
}
.stories__wrapper .story__play:after {
    content: "";
    position: absolute;
    top: 22px;
    left: 25px;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 10.5px 0 10.5px 16px;
}
.stories__wrapper .story__replay {
    width: 64px;
    height: 64px;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    border: none;
    padding: 0;
    border-radius: 100%;
    background: rgba(25, 27, 33, 0.5);
}
.stories__wrapper .story__replay svg {
    width: 29px;
    height: 26px;
    left: 15.5px;
    top: 19px;
    position: absolute;
}
.stories__wrapper .story__play {
    outline: none;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: rgba(25, 27, 33, 0.5);
    opacity: 1;
}
.stories__wrapper .story__controller {
    position: absolute;
    display: flex;
    z-index: 1;
    width: 100%;
    height: calc(100% - 50px);
    margin-top: 50px;
}
.stories__wrapper .story__controller-left, .stories__wrapper .story__controller-right {
    width: 50%;
    height: 100%;
    border: none;
    background: transparent;
}
.stories__wrapper .story__image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #191b21;
}
.stories__wrapper .story__mobile-image {
    cursor: pointer;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #191b21;
    overflow: hidden;
    padding: 2px;
    position: relative;
}
.stories__wrapper .story__mobile-image .story__mobile-image-image {
    width: 82px;
    height: 82px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.stories__wrapper .story__mobile-seen .story__mobile-image .story__mobile-image-image::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(25, 27, 33, 0.5);
}
.stories__wrapper .story__mobile-image-wrapper {
    margin: 0 1rem;
}
.stories__wrapper .story__mobile-replay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.stories__wrapper .story__mobile-image:hover .story__mobile-replay svg {
    transform: rotate(-360deg);
}
.stories__wrapper .story__mobile-replay svg {
    width: 26px;
    height: 24px;
    position: relative;
    display: block;
    transition: transform 0.5s ease-in-out;
    transform-origin: 56% 50%;
}
.stories__wrapper .story__fullscreen {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(24, 26, 32, 0.7);
    display: none;
}
.stories__wrapper .story__fullscreen-active {
    display: block;
}
.stories__wrapper .story__fullscreen-wrapper {
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}
.stories__wrapper .story__fullscreen-container-dummy {
    visibility: hidden;
}
.stories__wrapper .story__fullscreen-container, .stories__wrapper .story__fullscreen-container-dummy {
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
}
.stories__wrapper .story__fullscreen-scene {
    perspective: 1000px;
    position: absolute;
    width: 100%;
    height: 100%;
}
.stories__wrapper .story__fullscreen-scene-wrapper {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}
.stories__wrapper .story__video-player-wrapper {
    position: relative;
}
.stories__wrapper .story-video-player-loading {
    filter: brightness(70%);
}
.stories__wrapper .story__video-player {
    pointer-events: none;
    display: block;
    background: #191b21;
}
.stories__wrapper .story-video-player-icon-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}
.stories__wrapper .story-video-player-icon-wrapper svg {
    position: relative;
    top: calc(50% - 19px);
}
.stories__wrapper .story__video-player-thumbnail {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #191b21;
}
.stories__wrapper .story__video-player-sound {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    background-color: rgba(25, 27, 33, 0.5);
    border-radius: 100%;
}
.stories__wrapper .story__video-player-sound img {
    width: 18px;
    margin: 0.5rem;
}
.stories__wrapper .stories__title-break {
    width: 90px;
    margin: 1rem;
    margin-top: 0.6rem;
    font-size: 0.875rem;
    line-height: 1.4;
}
@media (max-width: 767px) {
    .stories__wrapper .stories__wrapper-inner {
        padding: 2rem 0;
    }
}
@media (max-width: 366px) {
    .stories__wrapper .stories__title {
        margin: .25rem;
    }
    .stories__wrapper .story__mobile-image-wrapper {
        margin: 0 .25rem;
    }
}
